@import "style.css";
@media screen and (max-width: 600px) {

  .navbar_expand
  {
    display: none;
  }

  .site_content
  {
    display: flex;
    flex-direction:column;
  }

  .aside_column
  {
    width: 100%;
  }

  .list_epigraph
  {
    cursor: pointer;
  }
}