@import "style.css";
@media screen and (max-width: 600px) {

  .head_navbar-expand
  {
    display: none;
  }

  .site_content
  {
    display: flex;
    flex-direction:column;
  }

  .aside_column
  {
    width: 100%;
  }

  .list_epigraph
  {
    cursor: pointer;
  }
}

@media screen and (max-width: 470px) {
.text-uppercase__header
{
  display: none;
}
}