/* || General setup */

@media screen and (min-width: 600px) 
{
    .list_epigraph
    {
        pointer-events: none;
    }
    .row-1__header
    {
        display: none!important;
    }
    .modal
    {
        display: none!important;
    }
}
    .div-pre__header
    {
        display: block;
        flex-direction: row;
    }

    .row-1__header
    {
        display: flex;
        border-bottom: 2px dashed #000000;
    }
    .row-1-1__header
    {
        width: 40%;
        text-align: left;
    }
    .header__picture-1
    {
        width: 40px;
    }

    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0%;
        width: 19%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
      }

    .modal:target {
        display: table;
        position: absolute;
      }

      .modal-dialog .modal-content {
        margin: auto;
        background-color: #f3f3f3;
        position: relative;
        border: 1px rgb(255, 255, 255) solid;
        text-align: justify;
        width: 80%;
      }

    .row-1-2__header
    {
        width: 60%;
        text-align: right;
        position: relative;
    }
    .header__picture-2
    {
        width: 15px;
        position: relative;
        top: 30%;
    }

    .text-uppercase__header
    {
        text-transform: uppercase;
        position: relative;
        top: 25%;
        font-size: large;
        font: bold 16px/2 serif;
    }

    .mail__header
    {
        position: relative;
        top: 23%;
        font-size: small;
        text-decoration: none;
        color: #000000;
        font: bold 16px/2 serif;
    }

    .row-2__header {
        /* border-bottom: 2px dashed #000000; */
        display: flex;
        border-bottom: 2px dashed #000000;
    }

    .header-munu::after
    {
        content: '';
        display: block;
        position: absolute;
        left: 1px;
        right: 1px;
        margin-bottom: -10px;
        bottom: 0;
        height: 2px;
        background: url(png/header-bg.png) repeat-x bottom;
    }


    .row-2-item__header{   
        width: 25%;        
        font-size: 16px;
    }

    .site_content
    {
      display: flex;
      flex-direction:row;
    }

    .aside_flexible
    {
        display: flex;
        flex-direction:column;
    }
    .catalog_navigation
    {
        display: flex;
        flex-direction:column;

    }

    .lists_item{   
        display: flex;
        vertical-align: top;  
        position: relative;
        flex-direction: column;
    }

    .footer
    {
        display: flex;
        flex-direction: row;

    }
    .footer_table
    {
        display: flex;
        /* flex-direction: row; */
        flex: 1;
    }
    .footer_item
    {
        margin: 0 auto;
        min-width: 25%;
    }


/* header {
    display: flex;
    height: 30px;
    min-width: 30px;
    align-items: normal;
    color: #fff;
    text-shadow: #000 0 0 .2em;
} */

html, body {
margin: 0;
padding: 0;
}

body {
    min-width: 320px;
    max-width: none!important;
    font-family: 'Verdana';
}

html {
font-size: 10px;
background-color: #a9a9a9;
}

body {
width: 90%;
margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
font-family: 'Sonsie One', cursive;
color: #2a2a2a;
}

p, input, li {
color: #2a2a2a;
}

h1 {
font-size: 4rem;
text-align: center;
color: white;
text-shadow: 2px 2px 10px black;
}

h2 {
font-size: 3rem;
text-align: center;
}

h3 {
font-size: 1rem;
}

p, li {
font-size: 1 rem;
line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
background-color: white;
padding: 10px;
}

nav.head_navbar {
background-color: #a9a9a9;
display:flex;
margin-bottom: 10px;
flex-wrap: wrap;
border: 4px solid #a9a9a9;
}

nav ul{
padding: 0;
list-style-type: none;
flex: 2;
display: flex;
text-align: center
}

nav li {
display: inline;
text-align: center;
flex: 1;
}

nav a {
display: inline-block;
border: 10px solid #a9a9a9;
  
background-clip: content-box; 
text-transform: uppercase;
text-decoration: none;
color: black;
text-align: center;
font-family:'Verdana';
}

nav form {
flex: 1;
display: flex;
align-items: center;
height: 100%;
padding: 0 0em;
}

input {
font-size: 1.6rem;
height: 20px;
}

input[type='search'] {
    flex: 1;
    background: #333;
    border: 4;
    color: white;
    height: 35px;
    display: flex;
    width: 100%;
    min-width: 150px;
}

main {
flex: 4;
display: flex;
margin-left: 10px;
background-color: rgba(236, 194, 69, 0.93);
min-width: 150px;
}


aside {
background-color: #a9a9a9;
align-items: center;
}
aside ul{
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    text-align: left;
    }

aside li {
padding-bottom: 10px;
display: block;
}

aside summary {
    text-decoration: none;
    text-align: left;
    font-family: 'Times New Roman' Times, serif;
}

aside a {
    display: inline-block;
      
    background-clip: content-box; 
    text-decoration: none;
    color: rgb(234, 228, 228);
    /* text-align: center; */
    font-family:'Times New Roman' Times, serif;
    }

.Aside--text
{
    text-decoration: none;
    color: rgb(234, 228, 228);
    /* text-align: center; */
    font-family: 'Times New Roman' Times, serif; 
    text-align: left;
}
.list_epigraph
{
    background-color: rgb(0, 163, 101);
    border: 6px solid rgb(0, 163, 101);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.list_epigraph::before
{
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: url(png/list.png) 0 0 / 100% 100%;
    line-height:0%;
    vertical-align:bottom;
}


.category_flex
{
    display: flex;  
    flex-direction: column;    
}

/* Убирание стандартного маркера Chrome */
details summary::-webkit-details-marker {
    display: none

  }
  /* Убирание стандартный маркер Firefox */
  details > summary {
    list-style: none;
    border-bottom: 1px solid #e2e8f0;
    
  }
  
  /* Добавление собственного маркера для закрытого состояния */
  .list_details summary::after {
    content: '';
    background: url("png/arrow.png") no-repeat 50% 50% / 1em 1em; ;
    width: 1em;
    height: 1em;  
    position: absolute;
    margin-top: 0.3em;
    transition: transform .5s;
  }
  
  /* Добавление собственного маркера для открытого состояния */
  .list_details[open] summary:after {
    transform: rotateZ(90deg);
  }

.link-menu-caterorii:hover
{
color:rgb(232, 0, 0);
}

.menu-pod_caterorii:hover
{
color:rgb(0, 163, 101);
}

footer {
margin-top: 10px;
}
