/* || General setup */

    div.header_block__line {
        border-bottom: 2px dashed #882b2b;
        width: 90%;
        position: absolute;
    }

    .header_item{   
        width: 25%;
        /* display: inline-block; */
        vertical-align: top;  
        position: relative;
        float: left;
    }

    .site_content
    {
      display: flex;
      flex-direction:row;
    }

    .aside_flexible
    {
        display: flex;
        flex-direction:column;
    }
    .catalog_navigation
    {
        display: flex;
        flex-direction:column;

    }

    .lists_item{   
        display: flex;
        vertical-align: top;  
        position: relative;
        flex-direction: column;
    }

    .footer
    {
        display: flex;
        flex-direction: row;

    }
    .footer_table
    {
        display: flex;
        /* flex-direction: row; */
        flex: 1;
    }
    .footer_item
    {
        margin: 0 auto;
        min-width: 25%;
    }


header {
    display: flex;
    height: 30px;
    min-width: 30px;
    align-items: normal;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

html, body {
margin: 0;
padding: 0;
}

body {
    min-width: 320px;
    max-width: none!important;
    font-family: 'Verdana';
}

html {
font-size: 10px;
background-color: #a9a9a9;
}

body {
width: 90%;
margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
font-family: 'Sonsie One', cursive;
color: #2a2a2a;
}

p, input, li {
color: #2a2a2a;
}

h1 {
font-size: 4rem;
text-align: center;
color: white;
text-shadow: 2px 2px 10px black;
}

h2 {
font-size: 3rem;
text-align: center;
}

h3 {
font-size: 1rem;
}

p, li {
font-size: 1 rem;
line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
background-color: white;
padding: 10px;
}

nav.header_navigation {
background-color: #a9a9a9;
display:flex;
margin-bottom: 10px;
flex-wrap: wrap;
border: 4px solid #a9a9a9;
}

nav ul{
padding: 0;
list-style-type: none;
flex: 2;
display: flex;
text-align: center
}

nav li {
display: inline;
text-align: center;
flex: 1;
}

nav a {
display: inline-block;
border: 10px solid #a9a9a9;
  
background-clip: content-box; 
text-transform: uppercase;
text-decoration: none;
color: black;
text-align: center;
font-family:'Verdana';
}

nav form {
flex: 1;
display: flex;
align-items: center;
height: 100%;
padding: 0 0em;
}

input {
font-size: 1.6rem;
height: 20px;
}

input[type='search'] {
    flex: 1;
    background: #333;
    border: 4;
    color: white;
    height: 35px;
    display: flex;
    width: 100%;
    min-width: 150px;
}

main {
flex: 4;
display: flex;
margin-left: 10px;
background-color: rgba(236, 194, 69, 0.93);
min-width: 150px;
}


aside {
background-color: #a9a9a9;
align-items: center;
}
aside ul{
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    text-align: left;
    }

aside li {
padding-bottom: 10px;
display: block;
}

aside summary {
    text-decoration: none;
    text-align: left;
    font-family: 'Times New Roman' Times, serif;
}

aside a {
    display: inline-block;
      
    background-clip: content-box; 
    text-decoration: none;
    color: rgb(234, 228, 228);
    text-align: center;
    font-family:'Times New Roman' Times, serif;
    }

.Aside--text
{
    text-decoration: none;
    color: rgb(234, 228, 228);
    text-align: center;
    font-family: 'Times New Roman' Times, serif; 
    text-align: left;
}


.category_flex
{
    display: flex;  
    flex-direction: column;    
}

/* Убирание стандартного маркера Chrome */
details summary::-webkit-details-marker {
    display: none
  }
  /* Убирание стандартный маркер Firefox */
  details > summary {
    list-style: none;
    border-bottom: 1px solid #e2e8f0;
    
  }
  
  /* Добавление собственного маркера для закрытого состояния */
  details summary::after {
    content: '';
    background: url("png/arrow.png") no-repeat 50% 50% / 1em 1em; ;
    width: 1em;
    height: 1em;  
    position: absolute;
    margin-top: 0.3em;
    transition: transform .5s;
  }
  
  /* Добавление собственного маркера для открытого состояния */
  details[open] summary:after {
    transform: rotateZ(90deg);
  }

.link-menu-caterorii:hover
{
color:rgb(232, 0, 0);
}
.link-menu-pod_caterorii:hover
{
color:rgb(0, 163, 101);
}

footer {
margin-top: 10px;
}