/* || General setup */

    div.header_block__line {
        border-bottom: 2px dashed #882b2b;
        width: 90%;
        position: absolute;
    }

    .header_item{   
        width: 25%;
        /* display: inline-block; */
        vertical-align: top;  
        position: relative;
        float: left;
    }

    .site_content
    {
      display: flex;
      flex-direction:row;
    }

    .aside_flexible
    {
        display: flex;
        flex-direction:column;
        min-width: 100px;
        max-width: 150px;
    }
    .catalog_navigation
    {
        display: flex;
        flex-direction:column;

    }

    .lists_item{   
        display: flex;
        vertical-align: top;  
        position: relative;
        flex-direction: column;
    }

    .footer
    {
        display: flex;
        flex-direction: row;

    }
    .footer_table
    {
        display: flex;
        /* flex-direction: row; */
        flex: 1;
    }
    .footer_item
    {
        margin: 0 auto;
        min-width: 25%;
    }


header {
    display: flex;
    height: 30px;
    min-width: 30px;
    align-items: normal;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

html, body {
margin: 0;
padding: 0;
}

html {
font-size: 10px;
background-color: #a9a9a9;
}

body {
width: 90%;
margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
font-family: 'Sonsie One', cursive;
color: #2a2a2a;
}

p, input, li {
font-family: 'Open Sans Condensed', sans-serif;
color: #2a2a2a;
}

h1 {
font-size: 4rem;
text-align: center;
color: white;
text-shadow: 2px 2px 10px black;
}

h2 {
font-size: 3rem;
text-align: center;
}

h3 {
font-size: 1rem;
}

p, li {
font-size: 1 rem;
line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
background-color: white;
padding: 1%;
}

nav.header_navigation {
background-color: #a9a9a9;
display:flex;
margin-bottom: 10px;
flex-wrap: wrap;
border: 4px solid blue;
}

nav ul{
padding: 0;
list-style-type: none;
flex: 2;
display: flex;
}

nav li {
display: inline;
text-align: center;
flex: 1;
}

nav a {
display: inline-block;
font-size: 80%;
text-transform: uppercase;
text-decoration: none;
color: black;
}

nav form {
flex: 1;
display: flex;
align-items: center;
height: 100%;
padding: 0 0em;
}

input {
font-size: 1.6rem;
height: 20px;
}

input[type="search"] {
    flex: 1;
    background: #333;
    border: 4;
    color: white;
    height: 35px;
    display: flex;
    width: 100%;
    min-width: 100px;
}

main {
flex: 4;
display: flex;
margin-left: 10px;
background-color: rgba(236, 194, 69, 0.93);
}

aside {
flex: 1;
background-color: #7e5f7e;
}

aside li {
padding-bottom: 10px;
display: block;
}

.link-menu-caterorii:hover
{
color:rgb(232, 0, 0);
}
.link-menu-pod_caterorii:hover
{
color:rgb(0, 163, 101);
}

footer {
margin-top: 10px;
}